.container
{
    max-width: 400px;
    display:block;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 0px 0px 43px 17px rgb(178, 193, 240);
}
#display
{
    text-align: right;
    height:5rem;
    line-height: 3rem;
    padding: 10px ;
    font-size: 20px;
}
.buttons
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.btn
{
    border:1px solid rgb(136, 130, 130);
    line-height: 7rem;
    text-align: center;
    font-size: 2rem;
    cursor:pointer;
    
}
.btn:hover{
    background-color: black;
    color: white;
    transition: 0.8s ease-in-out;
}
#equal
{
    background-color: royalblue;
    color: white;
}
